/* BODY AND SECTIONS */
/* ----------------------------------------------------- */
/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). Some properties have already been declared */

body {
  padding: 40px 10%;
  background-color: rgb(235, 235, 235) ;  
}

section {
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}

section > h2 {
text-align: center;
line-height: 1;
border-bottom: 1px solid black;
padding-bottom: 8px;
}

section > em {
display: block;
margin: 8px 0;
text-align: center;
}

section > div {padding: 10px;}


#s6 > div {background-color: #B298DC;}
#s7 > div {background-color: #BDC696;}



/* SECTION 1 */
/* ----------------------------------------------------- */

#s1 span {
  background-color: ;
  mix-blend-mode: ;
}

#s1 > div > p {
  margin: 0;
}

#s1 > div {
  background-color: lightgoldenrodyellow;
  column-count: 3;
}

@media screen and (max-width: 1024px) {

  #s1 div {
      background-color: #FF5964;
      column-count: 2;
      font-size: 16px;
    }
  }

@media screen and (max-width: 600px) {

#s1 div {
    background-color: #B298DC;
    column-count: 1;
    font-size: 14px;
  }
}


  

/* SECTION 2 */
/* ----------------------------------------------------- */


#s2 > div {
  background-color: #CDEAC0;
}

#s2 > div > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

:root{
  --height: 70vh;
}

#s2 div div:nth-of-type(1){
  height: 40px;

}


#s2 div div:nth-of-type(2){
  height: calc(var(--height) - 80px);
}

@media screen and (max-width: 1134px) and (min-width:676px) {
  
  #s2 div div:nth-of-type(1){
    background-color: #B298DC ;
    height: auto;
  }

  #s2 div div:nth-of-type(2){
    background-color: #FF5964 ;
    height: auto;
  }


  
}

@media screen and (max-width: 676px) {
  
  #s2 div div:nth-of-type(1){
    background-color: #3a1f66 ;
    height: fit-content;

    
  }

  #s2 div div:nth-of-type(2){
    background-color: #1abbbb ;
    height: fit-content;
  
  }

  #s2 div{
    height: 70%;
  }

  
}

/* SECTION 3 */
/* ----------------------------------------------------- */

#s3 > div {
  background-color: #FF5964;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

#s3 > div > div {

  background-color: white;
  margin: 10px;
  width: 22%;
}


@media screen and (max-width: 1024px) and (min-width: 600px){

#s3 div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

#s3 div div:nth-of-type(1){
  background-color: #3a1f66;
}

#s3 div div:nth-of-type(2){
  background-color: #906fc5;
}

#s3 div div:nth-of-type(3){
  background-color: #c2227f;
}
#s3 div div:nth-of-type(4){
  background-color: #19e348;
}
}

@media screen and (max-width: 908px) and (min-width: 602px){

  #s3 div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }
  
  #s3 div div:nth-of-type(1){
    background-color: #3a1f66;
    width: auto;
  }
  
  #s3 div div:nth-of-type(2){
    background-color: #906fc5;
    width: auto;
  }
  
  #s3 div div:nth-of-type(3){
    background-color: #c2227f;
    width: auto;
  }
  #s3 div div:nth-of-type(4){
    background-color: #19e348;
    width: auto;
  }
  }

@media screen and (max-width: 600px) {
  

#s3 div{
  width: fit-content;
  display: flex;
  flex-direction: column;
}

#s3 div div:nth-of-type(1){
  background-color: #786497;
  width: auto;
  margin: auto;
}

#s3 div div:nth-of-type(2){
  background-color: #14a133;
  width: auto;
}

#s3 div div:nth-of-type(3){
  background-color: #74afea;
  width: auto;
}
#s3 div div:nth-of-type(4){
  background-color: #8089d1;
  width: auto;
}
}

/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 > div {
  background-color: #B8F3FF;
  

}

#s4 > div > div {
  background-color: white;
  margin: 10px;
  
}

@media screen and (max-width: 2400px) and (min-width: 600px){
  #s4 > div {
    background-color: #B8F3FF;
    display: flex;
    flex-direction: row;
    justify-items :center ;

  }

}

@media screen and (max-width: 886px) {

#s4 div {
  flex-direction: column;
  }

#s4 div div {
  flex-direction: column;
  margin: 10px;
  }
}
 

/* SECTION 5 */
/* ----------------------------------------------------- */

#s5: :nth-of-type(1) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#s5 > div > span {
  background-color: #B298DC;
  padding: 10px;
  margin: 10px;
}

#s5 > button {
  padding: 10px;
  background-color: #BDC696;
  font-family: 'FT88', monospace;
  margin: 10px;
  display: none;
}

#box {
 background-color: #B8F3FF;
 padding: 10px;
 display: none;
 width: 120px;
}

#box > ul {
  margin: 0;
  padding: 10px;
} 

@media screen and (max-width:600px) {

  #s5 div:nth-of-type(1){
    display: none;

  }

  #s5 div:nth-of-type(2){
    display: none;

  }
  
  #s5 button{
    display: block;
  }
}


