/* Reset some default styles */
body,
html {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ITC";
    src: url(/fonts/BenguiatStd-Medium.otf);
}

@font-face {
    font-family: "ITC2";
    src: url(/fonts/BenguiatStd-Book.otf);
}

a {
    font-size: 7vw;
    white-space: nowrap;
}

#banner {
    width: calc(100% - 20px);
    height: 11vw;
    background-color: #ddd287;
    border: #cb5b5b;
    border-width: 10px;
    border-style: solid;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #e69494;
}

::-webkit-scrollbar-thumb:hover {
    background: #f18686;
}

/* Apply a flexible layout to the image grid */
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0px;
    padding-top: 12vw;
}

.image-box {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.image-box img {
    max-width: 100%;
    height: 100%;
}

.image-box-large {
    grid-column: span 2;
}

figcaption {
    font-size: 1.2vw;
}

.image-grid {
    border: #cb5b5b;
    border-width: 10px;
    border-style: solid;
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr);
        border-width: 7px;
    }

    .image-box-small:nth-child(7),
    .image-box-small:nth-child(8) {
        grid-column: span 1;
    }

    .image-box-small {
        width: 200%;
    }

    #banner {
        width: calc(100% - 15px);
        border-width: 7px;
    }

    figcaption {
        font-size: 1.8vw;
    }
}
