/* FONTS */
/* ----------------------------------------------------- */

/* DM-Sans*/
@font-face  {
    font-family: 'DM Sans';
    src: url('DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
  

/* CSS RESETS */
/* ----------------------------------------------------- */

*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html    {
    margin: 0;
    padding: 0;
    width: 100%;
}

body    {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}


/* FONTS ONLY */
/* ----------------------------------------------------- */

html {
    font-family: 'DM Sans';
    letter-spacing: -0.05rem;
    font-size: 18px;
}

h2 {
  font-family: 'DM Sans';
  font-size: 1.2rem;
}

body > aside {
  font-size: 0.8em;
}


/* POPUP STYLING */
/* ----------------------------------------------------- */

#openPopup {
  position: fixed;
  top: 25px;
  right: 25px;
  width: 30px;
  height: 30px;
  outline: 0;
  border: 0;
  border-radius: 50%;
  background-color: white;
}

#popupCover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 80%;
  background-color: lightgray;
}

#popup {
  font-family: 'DM Sans';
  font-size: 0.8rem;
  width: 400px;
  min-width: 250px;
  max-width: 100vw;;
  position: fixed;
  height: calc(100vh - 50px);
  overflow-y: auto;
  top: 25px;
  right: 25px;
  border: 1px solid black;
  padding: 15px;
  background-color: white;
  z-index: 20;
  letter-spacing: 0;
}

#popup > ol {
  margin-left: 1rem;
  padding-left: 1em;
}
#popup > ol li {
  margin-bottom: 10px;
}

#popup > ul {
  margin-left: 0;
  padding-left: 1em;
}