@font-face {
    font-family: 'Space Mono Bold';
    src: url('assets/SpaceMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Mono Regular';
    src: url('assets/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('assets/Inconsolata-Bold.ttf');
}

/* --- SCROLLBAR --- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #C5B7F0;
}

::-webkit-scrollbar-thumb:hover {
    background: #8A7AF5;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 40px 10%;
    background-color: #FFF4EB;
    color: #333;
}

/* --- NAVBAR --- */

.navbar {
    font-family: Space Mono Regular;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: left 0.3s ease-in-out;
}

.sticky {
    position: fixed;
    width: 10%;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-item {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
}

.navbar-item:hover {
    color: #4F3DFA;
}


/* --- MAIN CODE --- */

section {
    padding: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    background-color: white;
}

section>div {
    margin: 10px;
}

h1 {
    margin-top: 0px;
    font-family: 'Space Mono Regular';
    font-size: 48px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    padding-top: 30px;
    text-decoration: none;
    color: #333;
    float: right;
    opacity: 50%;
}

a:hover {
    float: right;
    color: #1500FF;
    transition: 0.3s;
}

h2 {
    font-size: 28px;
    text-align: left;
    line-height: 1;
    border-bottom: 1px solid #444;
    padding-bottom: 15px;
    font-family: 'Space Mono Regular';
    margin-left: 10px;
}

h4 {
    font-family: 'Space Mono Regular';
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    line-height: 1;
    border-bottom: 1px solid #444;
    border-bottom-style: dotted;
    padding-bottom: 8px;
}

img {
    margin: 10px;
    width: 65%;
    display: flex;
}

p {
    margin: 10px;
    font-family: Inconsolata;
    float: right;
    width: 30%;
    display: flex;
    color: #1500FF;
    font-size: 16px;
}